.myThumbnailWithPhoto {
    position: relative;

    p {
        text-align: center;
        margin: 0;
        position: absolute;
        top: 36%;
        width: 100%;
        font-weight: bold;
        color: white;
    }
}

.myThumbnailWithoutPhoto {
    position: relative;

    p {
        text-align: center;
        margin: 0;
        position: absolute;
        top: 36%;
        width: 100%;
        font-weight: bold;
        color: black;
    }
}